VITE_SERVER_URL=http://localhost:3000
TAURI_PUBLIC_KEY=REPLACE_WITH_YOUR_PUBLIC_KEY
TAURI_SIGNING_PRIVATE_KEY=REPLACE_WITH_YOUR_PRIVATE_KEY
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=REPLACE_WITH_YOUR_KEY_PASSWORD
APPLE_SIGNING_IDENTITY=XXXX