body {
	@apply w-screen h-screen;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	background: var(--figma-color-bg);
}

#root {
	@apply w-screen h-screen;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif;
	background: var(--figma-color-bg);
}
