@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.87 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-sans: "Inter Variable", sans-serif;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply font-sans bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";


/*
 *
 * circuit json style overwrites
 *
*/
svg g text.pin-number[text-anchor="middle"] {
  opacity: 0;
}

/* svg path.net-label {
  @apply fill-red-500 dark:fill-red-700 stroke-foreground;
} */

svg g.trace p:last-of-type {
  @apply hover:fill-green-500
}

svg g[data-circuit-json-type="schematic_component"] text {
  @apply fill-foreground;
}

/* All text labels that containt "VCC" */
svg text.net-label-text {
  @apply fill-red-50;
}

svg g.trace path {
  @apply stroke-muted-foreground;
}

svg g.trace-overlays>* {
  @apply stroke-muted-foreground fill-muted-foreground;
}

/*
 *
 * React flow style overwrites
 *
*/

/* Nodes */
.react-flow__panel.react-flow__minimap {
  @apply dark:bg-neutral-950 bg-neutral-300;
}

.react-flow__minimap .react-flow__minimap-node {
  @apply fill-muted-foreground transition-colors;
}

.react-flow__minimap .react-flow__minimap-node.selected {
  @apply fill-blue-500;
}

.react-flow__node.dragging {
  z-index: 999998 !important;
}

/* Edges */
.react-flow__edges .react-flow__edge-path {
  @apply stroke-7 bg-muted-foreground transition-colors;
}

.react-flow__edges .react-flow__edge.selected .react-flow__edge-path,
.react-flow__edges .react-flow__edge.selectable:focus .react-flow__edge-path {
  @apply stroke-blue-500;
}

.react-flow__edges .react-flow__edge .react-flow__edge-path.animated {
  @apply stroke-yellow-500;
  stroke-dasharray: 8, 32;
  stroke-dashoffset: 0;
  animation: dash-animation 1s linear infinite;
}

@keyframes dash-animation {
  0% {
    stroke-dashoffset: 100%;
  }

  100% {
    stroke-dashoffset: 0%;
  }
}

.react-flow__connection .react-flow__connection-path {
  @apply stroke-7 stroke-muted-foreground;
  stroke-dasharray: 8, 8;
  transition: stroke 0.15s;
}

.react-flow__connection.valid .react-flow__connection-path {
  @apply stroke-green-500;
}

.react-flow__connection.invalid .react-flow__connection-path {
  @apply stroke-red-500;
}

/* Handles */
.react-flow .react-flow__handle {
  @apply bg-muted-foreground/50 text-muted-foreground transition-all duration-150 border-none;
}

.react-flow .react-flow__handle.selected-via-edge {
  @apply bg-blue-500 text-blue-500 font-bold;
}

/* possible allowed connections */
.react-flow__handle.connectingfrom,
/* target --> source */
.react-flow:has(.react-flow__handle.connectingfrom.target) .react-flow__handle.connectable.source:not(:has(~ .react-flow__handle.connectingfrom)),
/* source --> target */
.react-flow:has(.react-flow__handle.connectingfrom.source) .react-flow__handle.connectable.target:not(:has(~ .react-flow__handle.connectingfrom)) {
  @apply bg-muted-foreground text-foreground;
}

/* show handle text when connecting from on allowed handles */
.react-flow__handle.connectingfrom span,
/* target --> source */
.react-flow:has(.react-flow__handle.connectingfrom.target) .react-flow__handle.connectable.source:not(:has(~ .react-flow__handle.connectingfrom)) span,
/* source --> target */
.react-flow:has(.react-flow__handle.connectingfrom.source) .react-flow__handle.connectable.target:not(:has(~ .react-flow__handle.connectingfrom)) span {
  opacity: 1 !important;
}

/* impossible connections */
.react-flow__handle.connectingfrom~.react-flow__handle,
/* target --> target */
.react-flow:has(.react-flow__handle.connectingfrom.target) .react-flow__handle.target:not(.react-flow__handle.connectingfrom),
/* source --> source */
.react-flow:has(.react-flow__handle.connectingfrom.source) .react-flow__handle.source:not(.react-flow__handle.connectingfrom),
/* connectingfrom --> sibbling */
.react-flow:has(.react-flow__handle.connectingfrom) .react-flow__handle:has(~ .react-flow__handle.connectingfrom) {
  @apply dark:bg-neutral-800 dark:text-neutral-700 text-neutral-300 bg-neutral-200;
}

/* hide handle text when connecting from on impossible connections */
.react-flow__handle.connectingfrom~.react-flow__handle span,
/* target --> target */
.react-flow:has(.react-flow__handle.connectingfrom.target) .react-flow__handle.target:not(.react-flow__handle.connectingfrom) span,
/* source --> source */
.react-flow:has(.react-flow__handle.connectingfrom.source) .react-flow__handle.source:not(.react-flow__handle.connectingfrom) span,
/* connectingfrom --> sibbling */
.react-flow:has(.react-flow__handle.connectingfrom) .react-flow__handle:has(~ .react-flow__handle.connectingfrom) span {
  opacity: 0 !important;
}

/* valid connection */
.react-flow:has(.react-flow__handle.connectingto.valid) .react-flow__handle.connectable.connectingfrom,
.react-flow:has(.react-flow__handle.connectingto.valid) .react-flow__handle.valid:not(:has(~ .react-flow__handle.connectable.connectingfrom)) {
  @apply bg-green-500 dark:bg-green-500 text-green-500 font-bold dark:text-green-500 cursor-crosshair;
}

/* invalid connection */
.react-flow__handle:not(.connectable),
.react-flow:has(.react-flow__connection.invalid) .react-flow__handle.connectable.connectingfrom {
  @apply bg-red-500 dark:bg-red-500 text-red-500 dark:text-red-500;
}

/*
* react-colorful style overwrites
*/
.react-colorful {
  @apply !w-full min-w-52;
}

.react-flow .react-colorful {
  @apply p-4;
}

.react-flow .react-colorful__hue {
  @apply hidden;
}

.react-flow .react-colorful .react-colorful__alpha {
  @apply mt-4 rounded-md h-5;
}

.react-flow .react-colorful .react-colorful__saturation {
  @apply border-b-0 rounded-md;
}

.react-flow .react-colorful .react-colorful__pointer {
  @apply w-5 h-5 transition-all;
}

/**
 * node monitor style overwrites
 */
.react-flow__node main>[class^="leva"] {
  @apply h-36;
}

.react-flow__node main>[class^="leva"]>div {
  @apply h-full flex items-center justify-center;
}

.react-flow__node [class^="leva-c-"] {
  @apply !bg-transparent;
}

.react-flow__node div:has(> canvas[class^="leva-c-"]) {
  @apply !flex;
}

.react-flow__node canvas[class^="leva-c-"] {
  @apply grow;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}