body {
    @apply grid h-screen;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    grid-template-areas:
        "main aside"
        "nav nav";
    grid-template-rows: 1fr 56px;
    grid-template-columns: 1fr 360px;
}

body > nav {
    @apply border-t flex items-center px-4;
    grid-area: nav;
}

body > aside {
    @apply border-l p-2;
    grid-area: aside;
}

body > main {
    @apply p-2 justify-stretch;
    grid-area: main;
}
