body {
	@apply w-screen h-screen p-0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/*
 *
 * React flow style overwrites
 *
*/

/* Nodes */
.react-flow__panel.react-flow__minimap {
	@apply dark:bg-neutral-950 bg-neutral-300;
}

.react-flow__minimap .react-flow__minimap-node {
	@apply dark:fill-neutral-400 fill-neutral-700 transition-colors;
}
.react-flow__minimap .react-flow__minimap-node.selected {
	@apply fill-blue-500;
}

/* Edges */
.react-flow__edges .react-flow__edge-path {
	@apply stroke-[4] dark:stroke-neutral-600 stroke-neutral-400 transition-colors;
}

.react-flow__edges .react-flow__edge.selected .react-flow__edge-path,
.react-flow__edges .react-flow__edge.selectable:focus .react-flow__edge-path {
	@apply stroke-blue-500;
}

.react-flow__edges .react-flow__edge.animated .react-flow__edge-path {
	@apply stroke-yellow-500;
}

.react-flow__connection .react-flow__connection-path {
	@apply stroke-[4] dark:stroke-neutral-400 stroke-neutral-500;
	stroke-dasharray: 8, 8;
	transition: stroke 0.15s;
}

.react-flow__connection.valid .react-flow__connection-path {
	@apply stroke-green-500;
}

.react-flow__connection.invalid .react-flow__connection-path {
	@apply stroke-red-500;
}

/* Handles */
.react-flow__handle {
	@apply dark:bg-neutral-600 text-neutral-500 bg-neutral-400 rounded-md transition-all duration-150 border-none;
}

/* possible allowed connections */
.react-flow__handle.connectingfrom,
/* target --> source */
.react-flow:has(.react-flow__handle.connectingfrom.target) .react-flow__handle.connectable.source:not(:has(~ .react-flow__handle.connectingfrom)),
/* source --> target */
.react-flow:has(.react-flow__handle.connectingfrom.source) .react-flow__handle.connectable.target:not(:has(~ .react-flow__handle.connectingfrom)) {
	@apply dark:bg-neutral-400 dark:text-neutral-500 text-neutral-400 bg-neutral-500;
}

/* impossible connections */
.react-flow__handle.connectingfrom ~ .react-flow__handle,
/* target --> target */
.react-flow:has(.react-flow__handle.connectingfrom.target) .react-flow__handle.target:not(.react-flow__handle.connectingfrom),
/* source --> source */
.react-flow:has(.react-flow__handle.connectingfrom.source) .react-flow__handle.source:not(.react-flow__handle.connectingfrom),
/* connectingfrom --> sibbling */
.react-flow:has(.react-flow__handle.connectingfrom) .react-flow__handle:has(~ .react-flow__handle.connectingfrom) {
	@apply dark:bg-neutral-800 dark:text-neutral-700 text-neutral-300 bg-neutral-200;
}

/* valid connection */
.react-flow:has(.react-flow__handle.connectingto.valid)
	.react-flow__handle.connectable.connectingfrom,
.react-flow:has(.react-flow__handle.connectingto.valid)
	.react-flow__handle.valid:not(:has(~ .react-flow__handle.connectable.connectingfrom)) {
	@apply bg-green-500 dark:bg-green-500 text-green-900 dark:text-green-900 cursor-crosshair;
}

/* invalid connection */
.react-flow__handle:not(.connectable),
.react-flow:has(.react-flow__connection.invalid) .react-flow__handle.connectable.connectingfrom {
	@apply bg-red-500 dark:bg-red-500 text-red-900 dark:text-red-900;
}

/*
* react-colorful style overwrites
*/
.react-colorful {
	@apply p-4;
}

.react-colorful__hue {
	@apply hidden;
}

.react-colorful .react-colorful__alpha {
	@apply mt-4 rounded-md h-5;
}

.react-colorful .react-colorful__saturation {
	@apply border-b-0 rounded-md;
}

.react-colorful .react-colorful__pointer {
	@apply w-5 h-5 transition-all;
}

/**
 * tweakpane style overwrites
 */
.tp-grlv_g polyline {
	stroke: black !important;
}

@media (prefers-color-scheme: dark) {
	.tp-grlv_g polyline {
		stroke: white !important;
	}
}
