body {
	@apply w-screen h-screen p-0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/*
 *
 * React flow style overwrites
 *
*/

/* Nodes */
.react-flow__panel.react-flow__minimap {
	@apply dark:bg-neutral-950 bg-neutral-300;
}

.react-flow__minimap .react-flow__minimap-node {
	@apply dark:fill-neutral-400 fill-neutral-700 transition-colors;
}
.react-flow__minimap .react-flow__minimap-node.selected {
	@apply fill-blue-500;
}

/* Edges */
.react-flow__edges .react-flow__edge-path {
	@apply stroke-[4] dark:stroke-neutral-600 stroke-neutral-400 transition-colors;
}

.react-flow__edges .react-flow__edge.selected .react-flow__edge-path,
.react-flow__edges .react-flow__edge.selectable:focus .react-flow__edge-path {
	@apply stroke-blue-500;
}

.react-flow__edges .react-flow__edge.animated .react-flow__edge-path {
	@apply stroke-yellow-500;
}

.react-flow__connection .react-flow__connection-path {
	@apply stroke-[4] stroke-neutral-400;
	stroke-dasharray: 8, 8;
	transition: stroke 0.15s;
}

.react-flow__connection.valid .react-flow__connection-path {
	@apply stroke-green-500;
}

.react-flow__connection.invalid .react-flow__connection-path {
	@apply stroke-red-500;
}

/* Handles */
.react-flow__node .react-flow__handle {
	@apply dark:bg-neutral-600 bg-neutral-400 rounded-md transition-all duration-150 border-none;
}

/* Target handle - start connection */
.react-flow:has(.react-flow__handle.connectingfrom):not(
		:has(.react-flow__handle.connectingto.valid)
	)
	.connectionindicator {
	@apply dark:bg-neutral-400 bg-neutral-500;
}

/* Target handle in same node - start connection */
.react-flow__node:has(.react-flow__handle.connectingfrom):not(
		:has(.react-flow__handle.connectingto.valid)
	)
	.connectionindicator {
	@apply bg-neutral-600;
}

/* Target handle in same node - not allowed */
.react-flow__node:has(.react-flow__handle.connectingfrom):not(
		:has(.react-flow__handle.connectingto.valid)
	)
	.connectingto.connectionindicator {
	@apply bg-red-500 cursor-not-allowed pointer-events-none;
}

/* Target handle - not allowed */
.react-flow__handle.connectingto {
	@apply bg-red-500 cursor-not-allowed;
}

/* Target handle - allowed */
.react-flow__handle.connectingto.valid {
	@apply bg-green-500 cursor-crosshair;
}

/* Source handle - start connection */
.react-flow__handle.connectingfrom {
	@apply bg-neutral-400;
}

/* Source handle - allowed */
.react-flow:has(.react-flow__handle.connectingto.valid) .react-flow__handle.connectingfrom {
	@apply bg-green-500;
}

/* Source handle - not allowed */
.react-flow:has(.react-flow__connection.invalid) .react-flow__handle.connectingfrom {
	@apply bg-red-500;
}

/* Set by `isConnectable` property */
.react-flow__handle:not(.connectable) {
	@apply cursor-not-allowed pointer-events-auto bg-red-500;
}

/*
* react-colorful style overwrites
*/
.react-colorful {
	@apply p-4;
}

.react-colorful__hue {
	@apply hidden;
}

.react-colorful .react-colorful__alpha {
	@apply mt-4 rounded-md h-5;
}

.react-colorful .react-colorful__saturation {
	@apply border-b-0 rounded-md;
}

.react-colorful .react-colorful__pointer {
	@apply w-5 h-5 transition-all;
}
