[phases.setup]
nixPkgs = ["nodejs"]
cmds = [
    "corepack enable",
    "corepack prepare yarn@3.8.7 --activate",
    "yarn plugin import workspace-tools"
]

[phases.install]
cmds = ["yarn install"]

[phases.build]
cmds = ["yarn build"]

[start]
cmd = "node apps/signaling/dist/index.js"

[variables]
PORT = "4444"
NIXPACKS_TURBO_APP_NAME = "microflow-signaling"

