[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["corepack enable", "yarn workspaces focus microflow-signaling"]

[phases.build]
cmds = ["yarn workspace microflow-signaling build"]

[start]
cmd = "node apps/signaling/dist/index.js"

[variables]
PORT = "4444"

