[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["corepack enable", "corepack prepare yarn@3.8.7 --activate", "yarn plugin import workspace-tools", "yarn workspaces focus microflow-signaling"]

[phases.build]
cmds = ["yarn workspace microflow-signaling build", "mv ../../node_modules node_modules"]

[start]
cmd = "node dist/index.js"

[variables]
PORT = "4444"

