[phases.setup]
nixPkgs = ["nodejs_20"]
cmds = ["corepack enable", "corepack prepare yarn@3.8.7 --activate", "yarn plugin import workspace-tools"]

[phases.install]
cmds = ["yarn workspaces focus microflow-signaling"]

[phases.build]
cmds = ["yarn workspace microflow-signaling build"]

[start]
cmd = "node dist/index.js"

[variables]
PORT = "4444"

