[phases.setup]
nixPkgs = ["nodejs", "yarn_3"]
cmds = ["yarn plugin import workspace-tools"]

[phases.install]
cmds = ["yarn workspaces focus microflow-signaling"]

[phases.build]
cmds = ["yarn workspace microflow-signaling build"]

[start]
cmd = "node dist/index.js"

[variables]
PORT = "4444"

