[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["cd ../.. && corepack enable && corepack prepare yarn@3.8.7 --activate && yarn plugin import workspace-tools && yarn workspaces focus microflow-signaling"]

[phases.build]
cmds = ["cd ../.. && yarn workspace microflow-signaling build"]

[start]
cmd = "cd ../.. && node apps/signaling/dist/index.js"

[variables]
PORT = "4444"

