name: Electron/make

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# TODO: might need to add `distutils` to the python version
# when `Preparing native dependencies: node-gyp` error occurs
# https://stackoverflow.com/questions/77233855/why-did-i-get-an-error-modulenotfounderror-no-module-named-distutils
jobs:
  make:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Import Code-Signing Certificates (MacOS)
        if: runner.os == 'macOS'
        uses: apple-actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.CERTIFICATE_OSX_P12 }}
          p12-password: ${{ secrets.CERTIFICATE_OSX_P12_PASSWORD }}

      - uses: actions/checkout@v4

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install

      - name: Build packages
        run: yarn build

      # https://stackoverflow.com/a/78870850/4655177
      - name: Install Python setup tools (MacOS)
        if: ${{ startsWith(matrix.os.name, 'macos') }}
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      # https://stackoverflow.com/a/78870850/4655177
      - name: Install Python setup tools (MacOS)
        if: ${{ startsWith(matrix.os.name, 'macos') }}
        run: |
          # Check that keychain setup and certificate import worked
          if security find-identity -v -p codesigning
          then
            echo "✅ Codesigning is set up correctly"
          else
            echo "⛔️ Codesigning is set up incorrectly"
            exit 1
          fi

      # https://localazy.com/blog/how-to-automatically-sign-macos-apps-using-github-actions
      - name: Make application
        run: yarn make
        env:
          APPLE_ID: ${{secrets.APPLE_ID}}
          APPLE_ID_PASSWORD: ${{secrets.APPLE_ID_PASSWORD}}
          APPLE_TEAM_ID: ${{secrets.APPLE_TEAM_ID}}
          APPLE_DEVELOPER_ID_APPLICATION: ${{secrets.APPLE_DEVELOPER_ID_APPLICATION}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
